/* board- and add-task-page  */

@media (max-width: 1400px) {
  .content {
    padding: 0 20px;
    left: 60px;
    top: 0;
  }

  nav {
    width: 60px;
    padding: 30px 10px 20px 10px;
  }

  .nav-top {
    width: 100%;
  }

  .nav-element {
    justify-content: center;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 10px 0;
  }

  .nav-element span {
    display: none;
  }

  .board-tasks {
    margin-top: 30px;
  }

  .task-right {
    left: 600px;
  }
}

@media (max-width: 1200px) {
  .board-tasks {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-top: 25px;
  }

  .to-do-tasks-container,
  .in-progress-tasks-container,
  .await-feedback-tasks-container,
  .done-tasks-container {
    height: fit-content;
    min-height: 260px;
  }

  .board-task-slide-in-div {
    width: 520px;
  }

  .board-task-slide-in-edit-div {
    padding: 0 0;
    width: 110%;
    left: -15px;
  }

  .board-task-slide-in-edit-div > img {
    top: -10px;
    right: 10px;
  }

  .board-task-slide-in-edit-task-ok-Button {
    top: 100%;
    left: 365px;
  }
}

@media (max-width: 1000px) {
  .board-task-slide-in-div {
    left: 0;
  }
}

@media (max-width: 940px) {
  .task-left {
    top: 90px;
  }

  .task-right {
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 2;
    height: unset;
    width: unset;
    bottom: unset;
  }
}

@media (max-width: 716px) {
  nav {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 80px;
    padding: 15px 5px;
    border-right: unset;
    border-top: 1px solid #d1d1d1;
    padding: 0;
  }

  .nav-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 70px;
    height: 100%;
    padding: 10px 0;
    margin: 0;
    border-radius: 0;
  }

  .nav-element img {
    display: flex;
    height: 25px;
    width: 25px;
  }

  .nav-element span {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .nav-top {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .nav-bottom {
    display: none;
  }

  .content {
    left: 15px;
    top: 0px;
    bottom: 80px;
  }

  .board-task-slide-in-div {
    width: 350px;
    top: 100px;
    bottom: 30px;
    height: unset;
    padding: 30px;
    overflow-x: hidden;
    z-index: 2;
  }

  .board-task-slide-in-title {
    font-size: 30px;
  }

  .board-task-slide-in-description,
  .board-task-slide-in-datevalue,
  .board-task-slide-in-contact-name {
    font-size: 15px;
  }

  .board-task-slide-in-datename,
  .board-task-slide-in-priorityname,
  .board-task-slide-in-edit-task-subtask,
  .board-task-slide-in-assignedto {
    font-size: 18px;
  }

  .board-task-slide-in-editbutton {
    width: 37px;
    min-height: 37px;
    margin-right: -10px;
  }

  .add-task-select-contacts {
    font-size: 15px;
  }

  .add-task-input-title {
    font-size: 25px;
  }

  .add-task-slide-in-header {
    padding: 20px 0 0 0;
  }

  .add-task-slide-in-menu {
    width: 350px;
    padding: 0 25px;
  }

  .add-task-slide-in-header span {
    display: none;
  }

  .add-task-slide-in-header::before {
    height: 50px;
    width: 40px;
    content: "";
    background-image: url("../assets/img/favico.png");
    background-size: 35px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }

  .add-task-slide-in-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    width: 350px;
    margin-left: -30px;
    padding: 10px 70px 10px 40px;
    margin-bottom: 20px;
  }

  .board-task-slide-in-category img {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
  }

  .add-task-category-form span,
  .add-task-list-element {
    font-size: 15px;
  }

  .add-task-slide-in-create-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 55px;
  }

  .add-task-slide-in-check-icon {
    margin-bottom: 10px;
  }

  .add-task-slide-in-header > img {
    left: 310px;
  }

  .add-task-input-date {
    font-size: 15px;
  }

  .add-task-priority-label {
    height: 40px;
    font-size: 14px;
  }

  .add-task-priority-urgent,
  .add-task-priority-medium,
  .add-task-priority-low {
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.86);
  }

  #addTaskPriorityLabelUrgent:hover,
  #addTaskPriorityLabelMedium:hover,
  #addTaskPriorityLabelLow:hover {
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.86);
  }

  .add-task-priority-label input {
    width: 105px;
    height: 45px;
  }

  .add-task-checkbox-container {
    width: 253px;
  }

  .add-task-contact-checkbox {
    width: 92%;
  }

  .add-task-contact-container {
    font-size: 15px;
  }

  .board-task-slide-in-edit-task-ok-Button {
    left: 120px;
  }

  .add-task-priority-container {
    margin: 35px 0 25px 0;
  }

  .board-task-slide-in-edit-task-Assigned-to {
    margin-top: 10px;
  }

  .add-task-input-title {
    font-size: 20px;
  }

  .add-task-description-textarea {
    font-size: 15px;
  }

  .add-task-date {
    height: 85px;
  }

  .task-left {
    top: 70px;
    width: 300px;
  }

  .board-task-slide-in-edit-div {
    width: 300px;
  }

  .add-task-date span,
  .add-task-category > span,
  .add-task-description span,
  .add-task-subtasks span {
    font-size: 18px;
  }

  .task-right {
    left: 30px;
  }

  .btn-clear,
  .btn-addTask {
    white-space: nowrap;
    font-size: 18px;
    height: 80%;
    width: 80%;
    padding: 13px 10px 13px 10px;
  }

  .add-task-category {
    margin-bottom: -30px;
  }

  .height-1 {
    margin-top: 30px;
  }

  .task-added-to-board {
    left: -120px;
    width: 250px;
    height: 60px;
  }

  .task-added-to-board span {
    font-size: 18px;
  }
}

@media (max-width: 440px) {
  header {
    height: 80px;
  }

  header span {
    font-size: 15px;
  }

  .help {
    display: none;
  }

  .add-task-button {
    display: none;
  }

  .task-form {
    height: 40px;
  }

  .to-do-header,
  .in-progress-header,
  .await-feedback-header,
  .done-header {
    height: 20px;
    font-size: 20px;
    width: 100%;
  }

  .board-add-task-plus-icon {
    height: 27px;
    width: 27px;
  }

  .to-do-tasks-container,
  .in-progress-tasks-container,
  .await-feedback-tasks-container,
  .done-tasks-container {
    padding: 20px 0;
  }

  .task-main {
    left: -10px;
  }

  .task-left {
    top: 50px;
  }

  .task-right {
    top: 0px;
  }
}

/* Contact Page */
@media (max-width: 1400px) {
  .help-arrow {
    right: 200px;
    top: 3rem;
  }
}

@media (max-width: 1212px) {
  .contact-big-letter {
    min-width: 90px;
    height: 90px;
    font-size: 37px;
  }
  .new-contact-button {
    right: 6rem;
  }
  .contact-right-side {
    padding: 50px 32px 25px 0px;
  }
  .contact-detail-big-name {
    font-size: 33px;
  }
  .contact-detail-info-main {
    justify-content: flex-start;
    margin-right: 100px;
  }
}

@media (max-width: 1190px) {
  .new-contact-button {
    right: 4rem;
  }

  .contact-right-side {
    padding: 50px 32px 25px 0px;
  }
  .contact-detail-big-name {
    font-size: 33px;
  }
  .contact-detail-info-main {
    justify-content: flex-start;
    margin-right: 100px;
  }
  .newContactCreated {
    left: 38rem;
  }
}

@media (max-width: 1000px) {
  .contact-detail-edit {
    padding-left: 60px;
  }

  .contact-main {
    left: 16px;
  }

  .newContactCreated {
    left: 32rem;
  }

  .help-arrow {
    top: 3rem;
  }
}

@media (max-width: 934px) {
  .edit-contact-text {
    display: none;
  }
  .contact-detail-big-name {
    font-size: 27px;
  }
  .icon-edit-contact {
    display: none;
  }
  .icon-edit-img-contact {
    width: 30px;
    display: block;
  }
  .contact-detail-edit {
    padding-left: 40px;
  }
}

@media (max-width: 870px) {
  .contact-detail-edit {
    padding-left: 30px;
  }
}

@media (max-width: 846px) {
  .contact-big-letter {
    min-width: 90px;
    height: 90px;
    font-size: 37px;
  }
  .contact-detail-info {
    font-size: 18px;
  }

  .newContactCreated {
    left: 19rem;
  }
}

@media (max-width: 790px) {

  .contact-main {
    left: 8px;
  }

  .show {
    right: -24rem;
  }

}

@media (max-width: 744px) {
  .contact-detail-edit {
    padding-left: 30px;
  }
}

@media (max-width: 716px) {
  .contact-left {
    height: calc(100% - 180px);
  }

  .contact-letter {
    padding-left: 19px;
  }

  .contact-main {
    left: 1px;
  }

  .show {
    right: -22rem;
  }
}

@media (max-width: 860px) {
  .help-arrow-edit {
    display: flex;
    justify-content: flex-end;
    margin-left: 16rem;
    margin-top: 20px;
  }
  .help-arrow {
    display: block;
  }
  .add-task-slide-in-menu {
    z-index: 2;
  }
  .edit-contact {
    width: 580px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
    overflow: hidden;
    z-index: 2;
  }
  .contact-right-side {
    padding: 50px 32px 25px 0px;
    z-index: 1;
  }
  .contact-left-fadeIn-bg {
    z-index: 2;
  }

  .contact-name {
    font-size: 19px;
    font-weight: 400;
    margin-top: 26.5px;
    margin-bottom: 2.5px;
    margin-left: 16px;
    height: 51px;
    border-bottom: 1px solid #d1d1d1;
  }
  .newContactCreated {
    left: 11rem;
  }
  .show {
    right: 1rem;
    padding-left: 10rem;
    padding-top: 4rem;
    height: 100vh;
    width: 100%;
    background: white;
    transition: all 1ms ease-in-out;
    z-index: 1;
  }
  .new-contact-button {
    top: 8rem;
    right: 26rem;
    width: 160px;
    height: 50px;
    font-size: 18px;
  }
  .contact-detail-big-name {
    font-size: 33px;
  }
  .contact-detail-info-main {
    justify-content: flex-start;
    margin-right: 100px;
  }
}

@media (max-width: 590px) {
  .new-contact-main {
    width: 350px;
    height: 24rem;
    position: fixed;
    top: 22rem;
  }
  .new-contact-main {
    width: 350px;
    height: 24rem;
  }
  .edit-contact {
    width: 350px;
  }
  .new-contact {
    width: 350px;
  }
  .contact-left-fadeIn {
    border-radius: 0px 30px 30px 30px;
    width: 350px;
  }
  .img-edit-contact {
    display: none;
  }
  .edit-contact-h {
    color: white;
    padding-top: 12px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
  }

  .new-contact-h {
    color: white;
    padding-top: 12px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
  }
  .edit-contact-head {
    background-color: #4589ff;
    width: 350px;
    height: 19rem;
    padding-bottom: 70px;
    border-radius: 0px 30px 0px 0px;
  }
  .new-contact-head {
    background-color: #4589ff;
    width: 350px;
    height: 19rem;
    border-radius: 0px 30px 0px 0px;
  }

  .new-contact-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
  }
  .input-contact-main {
    width: 300px;
    height: 20rem;
    padding-top: 2rem;
  }
  .edit-contact-text-edit {
    font-weight: 400;
    font-size: 21px;
    color: #ffffff;
    display: flex;
    position: fixed;
    left: 2rem;
    top: 9rem;
  }
  .input-newContact-main {
    width: 300px;
    height: 20rem;
    padding-top: 2rem;
  }
  .button-cancel {
    display: none;
  }
  .new-contact-button {
    height: 53px;
    width: 174px;
    font-size: 20px;
    right: 18rem;
  }

  .contact-detail-big-letter {
    min-width: 120px;
    height: 120px;
    font-size: 36px;
  }
  .edit-contact-main {
    width: 580px;
    height: 388px;
    background-color: #ffffff;
    border-radius: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 14.5rem;
    padding-top: 43px;
    padding-bottom: 20px;
  }
}

@media (max-width: 541px) {
  .show {
    right: 4rem;
  }
  .newContactCreated {
    left: 0rem;
  }
  .new-contact-button {
    right: 14rem;
  }
}

@media (max-width: 490px) {
  .contact-detail-big-name {
    font-size: 23px;
  }
  .help-arrow {
    position: absolute;
    right: 3rem;
    top: 3rem;
    cursor: pointer;
  }

  .privacy {
    font-size: 13px;
  }

  .privacy_steam {
    font-size: 29px;
  }
}

@media (max-width: 440px) {
  .privacy_steam {
    font-size: 24px;
  }

  .show {
    position: fixed;
    top: 5rem;
    left: -3rem;
    height: 690px;
    width: 27rem;
  }
  .new-contact-button {
    top: 7rem;
    right: 8rem;
  }
}

@media (max-width: 400px) {
  .show {
    left: -4rem;
  }
  .show-contact {
    left: 3rem;
    z-index: 3;
    position: fixed;
    background-color: white;
    height: 670px;
    bottom: 5rem;
    padding-top: 4rem;
  }
  .contact-right-side {
    padding-left: 0rem;
  }
  .contact-big-letter {
    min-width: 70px;
    height: 70px;
    font-size: 30px;
  }
}

@media (max-width: 370px) {
  .new-contact-button {
    right: 4rem;
  }
}

@media (max-width: 340px) {
  .show {
    right: 7rem;
  }
  .show-contact {
    padding-left: 0rem;
    z-index: 3;
    position: fixed;
    background-color: white;
    height: 690px;
    bottom: 5rem;
    padding-top: 7rem;
    left: 2rem;
  }
  .contact-detail-big-name {
    font-size: 21px;
  }
}

/* Summary Page */
@media (max-width: 1000px) {
  .summary-div {
    justify-content: flex-start;
  }
}

@media (max-width: 716px) {

  .summary-top {
    font-size: 30px;
  }
  .summary-top span {
    font-size: 41px;
  }
  .task-box-deadline {
    width: 566px;
  }
  .task-box {
    width: 166px;
    height: 166px;
  }
  .task-box-to-do {
    width: 166px;
    height: 166px;
  }
  .date-and-upcoming-deadline span {
    font-size: 27px !important;
  }
  .summary-bottom span {
    font-size: 19px;
  }
}
@media (max-width: 657px) {
  .task-box-deadline {
    width: 453px;
    height: 150px;
  }
  .task-box-to-do {
    width: 453px;
    height: 106px;
    flex-direction: row;
  }
  .biggerTask {
    margin-left: 5rem;
  }
  .date-and-upcoming-deadline span {
    font-size: 21px !important;
  }
  .task-box {
    width: 131px;
    height: 124px;
  }
  .summary-bottom span {
    font-size: 17px;
  }
  .welcome-user-message {
    padding-bottom: 92rem;
    padding-top: 130rem;
    animation: fadeInFromBottom 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@media (max-width: 516px) {
  .summary-top {
    font-size: 30px;
  }
  .summary-top span {
    font-size: 41px;
  }

  .welcome-user-message {
    padding-bottom: 92rem;
    padding-top: 120rem;
    animation: fadeInFromBottom 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  .task-box-deadline-left {
    padding-right: 16px;
  }
  .date-and-upcoming-deadline {
    padding-left: 16px;
  }
  .task-box-deadline {
    width: 398px;
    height: 150px;
  }
  .task-box-to-do {
    width: 398px;
    height: 106px;
  }
  .task-box {
    width: 144px;
    height: 134px;
    margin: 17.5px;
    margin-left: 18px;
    margin-right: 18px;
  }
}
@media (max-width: 440px) {

  .summary-top {
    font-size: 30px;
  }
  .summary-top span {
    font-size: 41px;
  }

  .task-box-deadline {
    width: 398px;
    height: 142px;
  }
  .task-box {
    width: 144px;
    height: 134px;
    margin: 17.5px;
    margin-left: 18px;
    margin-right: 18px;
  }
}
@media (max-width: 431px) {

  .task-box {
    width: 142px;
    height: 131px;
    margin: 13.5px;
  }
  .task-box-to-do {
    width: 313px;
    height: 101px;
  }
  .task-box-deadline {
    width: 313px;
  }
  .date-and-upcoming-deadline span {
    font-size: 17px !important;
  }
  .biggerTask {
    margin-left: 4rem;
  }
  .task-number {
    margin-left: 18px;
  }
  .task-picture-and-count {
    margin-left: 5px;
  }
}

/* Log-In Page */

@media (max-width: 800px) {
  .log-in-container {
    width: 90% !important;
  }

  .return-to-log-in-page-button {
    top: 22px;
    left: 22px;
  }
}

@media (max-width: 650px) {
  .registration-upper-right-inner-container {
    top: 91%;
    right: 50%;
    transform: translateX(50%);
    width: 315px;
  }

  .log-in-container {
    height: 530px;
    padding-top: 45px;
  }

  .join-logo-login-new-position {
    top: 35px;
    left: 35px;
    width: 65px;
    height: 88px;
  }

  .log-in-input-container {
    width: 90%;
    height: 250px !important;
  }

  .log-in-remember-me-forgot-password-section {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 82%;
    gap: 29px;
    height: 52px;
  }

  .log-in-commit-guest-log-in-section {
    flex-direction: column;
    height: 150px;
  }

  .log-in-commit-guest-log-in-section-button-log-in {
    width: 180px;
    height: 50px;
  }

  .log-in-commit-guest-log-in-section-button-guest {
    width: 180px;
    height: 50px;
  }

  .forgot-password-description-container {
    width: 80%;
    margin: 18px 0;
  }

  .email-send-message {
    width: 80%;
    font-size: 17px;
  }

  .log-in-headline-container {
    height: 136px;
  }

  .log-in-container-headline {
    width: 490px !important;
  }
}

@media (max-width: 400px) {
  .join-logo-login-new-position {
    top: 73px;
    left: 35px;
    width: 46px;
    height: 88px;
  }
}
