* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  gap: 34px;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #4589ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 36px;
}

header span {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}
/*nav and content outer div*/

.nav-and-content{
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: calc(100vh - 100px);
  
}
/* navigation bar */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 66px 20px;
  gap: 35px;
  /* position: fixed; */
  width: 232px;
  height: 100%;
  left: 0px;
  /* top: 92px; */
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px;
}

.nav-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 30px;
  gap: 20px;
  width: 186px;
  height: 46px;
  /* background: #D2E3FF; (if active) */
  background-color: white;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
  font-size: 16px;
}

.nav-element:hover{
  cursor: pointer;
}

.nav-element img {
    height: 22px;
    width: 22px;
}


/* .margin-content{
    margin-left: 300px;
    margin-top: 160px;

} */

/* content */

.content{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  padding: 75px 5%;
  overflow-y: scroll;
}


/* Summary */

.summary-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.summary-top{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  font-size: 48px;
}

.summary-top span{
  font-size: 64px;
  font-weight: 700;
  color: #4589FF;
}

.summary-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.summary-bottom img{
  width: 65px;
  height: 65px;
}

.summary-bottom span{
  font-size: 23px;
}

/* All Task Boxes */

/* big task box (with date) */
.task-box-deadline{
  color: white;
  display: flex;
  background-color: #4589FF;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 190px;
  width: 640px;
  margin: 17.5px;
}

.task-box-deadline:hover{
  cursor: pointer;
}

.task-box-deadline-left{
  display: flex;
  padding-right: 35px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.date-and-upcoming-deadline{
  display: flex;
  padding-left: 35px;
  flex-direction: column;
}

.task-picture-and-count{
  display: flex;
}

.task-picture-and-count img, span{
  margin: 0 10px;
}

.task-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 190px;
  width: 190px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  margin: 17.5px;
  color: #4589FF;
}

.task-box:hover{
  cursor: pointer;
}

.task-number{
  color: black;
  font-size: 48px !important;
  font-weight: 700;
}