* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

html {
  scroll-behavior: smooth;
}

/*global*/

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1 {
  color: #4589ff;
  font-family: Open Sans;
  font-size: 61px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  color: #005dff;
  font-family: Open Sans;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

/* custom scrollbar */

.scrollbar {
  height: 300px;
  width: 50%;
  overflow: auto;
  /* padding: 0 10px; */
}

.scrollbar1::-webkit-scrollbar {
  width: 16px;
}

.scrollbar1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #4589ff;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  gap: 34px;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #4589ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 36px;
}

header span {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

/* question mark on the header*/

.help {
  cursor: pointer;
}

.help-none {
  display: none;
}

.help-arrow {
  position: absolute;
  right: 200px;
  top: 114px;
  cursor: pointer;
}

.help-p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.help-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.help-number {
  font-family: Open Sans;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #005dff;
}

/*nav and content outer div*/

.nav-and-content {
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: calc(100vh - 100px);
}

/* navigation bar */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 66px 20px;
  gap: 35px;
  /* position: fixed; */
  width: 232px;
  height: 100%;
  left: 0px;
  /* top: 92px; */
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px;
}

.nav-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 30px;
  gap: 20px;
  width: 186px;
  height: 46px;
  /* background: #D2E3FF; (if active) */
  background-color: white;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
}

.nav-element:hover {
  background-color: #d2e3ff;
}

.nav-element img {
  height: 22px;
  width: 22px;
}

/* content-area */

.content {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  padding: 75px 5%;
  overflow-y: scroll;
}

/* Summary */

.summary-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.summary-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.summary-top span {
  font-size: 64px;
  font-weight: 700;
  color: #4589ff;
}

.summary-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.summary-bottom img {
  width: 65px;
  height: 65px;
}

.summary-bottom span {
  font-size: 23px;
}

/* All Task Boxes */

/* big task box (with date) */
.task-box-deadline {
  color: white;
  display: flex;
  background-color: #4589ff;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 190px;
  width: 640px;
  margin: 17.5px;
  transition: 120ms ease-in-out;
}

.task-box-deadline:hover {
  cursor: pointer;
  border-radius: 0 30px 30px 30px;
  scale: 1.05;
  transition: 120ms ease-in-out;
  background-color: #ffffff;
  color: #4589ff;
  border-color: #4589ff;
  transform-origin: left top;
}

.task-box-deadline:hover .task-box-deadline-left {
  border-right: 3px solid #4589ff;
}

.task-box-deadline:hover span {
  color: #4589ff !important;
}

.task-box-deadline-left {
  display: flex;
  padding-right: 35px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-right: 3px solid white;
}

.date-and-upcoming-deadline {
  display: flex;
  padding-left: 35px;
  flex-direction: column;
}

.task-picture-and-count {
  display: flex;
}

.task-picture-and-count img,
span {
  margin: 0 10px;
}

/* Regular Task Box */

.task-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 190px;
  width: 190px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  margin: 17.5px;
  color: #4589ff;
  transition: 120ms ease-in-out;
}

.task-box:hover {
  cursor: pointer;
  border-radius: 0 30px 30px 30px;
  scale: 1.1;
  transition: 120ms ease-in-out;
  background-color: #005dff;
  color: white !important;
  transform-origin: left top;
}

.task-box:hover span {
  color: white !important;
}

.task-box-to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 190px;
  width: 190px;
  background-color: #d2e3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  margin: 17.5px;
  color: #4589ff;
  transition: 120ms ease-in-out;
}

.task-box-to-do:hover {
  cursor: pointer;
  border-radius: 0 30px 30px 30px;
  scale: 1.1;
  transition: 120ms ease-in-out;
  background-color: #ffffff;
  color: white !important;
  transform-origin: left top;
  color: #005dff;
}

.task-box-to-do:hover span {
  color: #005dff !important;
}

.task-number {
  color: black;
  font-size: 48px !important;
  font-weight: 700;
}

/* board */

.board-header {
  display: flex;
  width: 100%;
}

.task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  margin-right: 35px;
  width: 251px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
}

.search-glass {
  cursor: pointer;
}

.search-task-input-field {
  font-family: "Inter";
  border: none;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.search-task-input-field:focus {
  outline: none;
}

.add-task-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  width: 138px;
  height: 51px;
  background: #4589ff;
  border: 1px solid #4589ff;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  font-size: 23px;
  line-height: 28px;
  text-align: left;
  font-family: "Open Sans";
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.add-task-button:hover {
  background: #005dff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 100ms ease-in-out;
}

.board-tasks {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.to-do-header,
.in-progress-header,
.await-feedback-header,
.done-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 35px;
  width: 230px;
  height: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: #42526e;
  white-space: nowrap;
  margin-right: 46px;
}

/* Task Form */

.task-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.task-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 462px;
  min-width: 462px;
  height: 100%;
  background-color: rgba(0, 225, 255, 0.856);
}

.task-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.btn-addTask {
  height: 61px;
  width: 180px;
  left: 161px;
  top: 0px;
  border-radius: 10px;
  padding: 18px 10px 18px 10px;
  background-color: #4589ff;
  font-size: 23px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-addTask:hover {
  background: #005dff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 100ms ease-in-out;
}

.btn-clear {
  height: 61px;
  width: 136px;
  left: 20px;
  top: 20px;
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  margin-right: 25px;
  background-color: #ffffff;
  font-size: 23px;
  color: #647188;
  border: 1px solid #647188;
  padding-left: 16.76px;
  gap: 10px;
  cursor: pointer;
}

.btn-clear:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #4589ff;
  transition: all 100ms ease-in-out;
  border-color: #4589ff;
}

.btn-clear:hover path {
  stroke: #4589ff;
}

.btn-ok {
  margin-left: 14px;
}

.add-task-input-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  width: 100%;
  height: 74px;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
}

.add-task-input-title:focus {
  color: #000000;
  outline: none;
}

.add-task-input-title::placeholder {
  color: #d1d1d1;
}

.add-task-contacts-assign {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 21px;
  gap: 10px;
  isolation: isolate;
  width: 100%;
  height: 51px;
  background: #ffffff;
  border-bottom: 1px solid #d1d1d1;
}

.rotate-arrow-0 {
  transform: rotate(0deg);
  transition: 120ms ease-in-out;
  width: 25px;
  height: 25px;
}

.rotate-arrow-90 {
  transform: rotate(90deg);
  transition: 120ms ease-in-out;
  width: 25px;
  height: 25px;
}

.add-task-select-contacts {
  width: 100%;
  height: 23px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  border: none;
}

.add-task-select-contacts::placeholder {
  color: #d1d1d1;
}

.add-task-select-contacts:focus {
  outline: none;
}

.add-task-contact-list {
  display: flex;
  height: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 120ms ease-in-out;
}

.add-task-contact-container {
  display: flex;
  height: 51px;
  justify-content: space-between;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #000000;
  align-items: center;
  padding: 18px 21px;
  position: relative;
  /* overflow-x: hidden; */
}

.add-task-contact-checkbox + .add-task-checkbox-container {
  position: absolute;
}

.add-task-contact-checkbox {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  z-index: 1;
}

.add-task-contact-checkbox + .add-task-checkbox-container::after {
  width: 15px;
  height: 15px;
  background-image: url("assets/img/rectangle.svg");
  content: "";
  float: right;
  margin-left: 5px;
  margin-top: 4px;
}

.add-task-contact-checkbox:checked + .add-task-checkbox-container::after {
  background-image: url("assets/img/checkbutton.svg");
}

.add-task-checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 416px;
}

.expand-contact-list {
  height: 145px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 120ms ease-in-out;
}

.add-task-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 0;
  gap: 10px;
  width: 100%;
  height: 102px;
  background: #ffffff;
  border-bottom: 1px solid #d1d1d1;
}

.add-task-date span {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 700;
  font-size: 19px;
  line-height: 120%;
  color: #42526e;
  height: 51px;
}

.add-task-date-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 21px;
  width: 100%;
  height: 51px;
  background: #ffffff;
  border-bottom: 1px solid #d1d1d1;
}

.add-task-input-date {
  width: 100%;
  height: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  border: none;
  color: #d1d1d1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  background: url(assets/img/calendariconl.svg);
  width: 25px;
  height: 25px;
}

input[type="date"]:valid {
  color: black;
}

.add-task-input-date:focus {
  outline: none;
}

.add-task-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 0;
  gap: 10px;
  isolation: isolate;
  width: 100%;
  height: 102px;
  background: #ffffff;
  border-bottom: 1px solid #d1d1d1;
}

.add-task-category > span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 120%;
  color: #42526e;
  height: 51px;
}

.add-task-category-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 21px 0 21px;
  cursor: pointer;
  height: 51px;
}

.add-task-category-form span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  color: #000000;
  margin: 0 0;
}

.add-task-category-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-task-category-list input {
  border: none;
}

.add-task-category-list input:focus {
  outline: none;
}

.add-task-list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 21px 18px 31px;
  gap: 10px;
  width: 100%;
  height: 51px;
  background: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  color: #000000;
}

.height-0 {
  height: 0px;
  transition: 120ms ease-in-out;
  overflow: hidden;
}

.height-1 {
  height: 153px;
  transition: 120ms ease-in-out;
  overflow: scroll;
  overflow-x: hidden;
}

/* Contacts */

.contact-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: #005eff15;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 462px;
  min-width: 462px;
  height: 100%;
  background-color: rgba(0, 225, 255, 0.856);
}
.contact-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.new-contact-button {
  height: 61px;
  width: 197px;
  left: 20px;
  top: 94px;
  border-radius: 10px;
  padding: 18px 10px 18px 10px;
  background: #4589ff;
  color: white;
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.new-contact-button:hover {
  background: #005dff;
}
